<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% block head %}
  {% endblock %}

  <title>
    {% block title %}
    {% endblock %}
  </title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  {% load static %}
  <link href="{% static 'css/blog-post.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #d1eaf5;">
    <div class="container">
      <a class="navbar-brand" href="{% url 'dashboard' %}">TravelBlog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item {% if section == 'dashboard' %}active{% endif %}">
            <a class="nav-link" href="{% url 'dashboard' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item {% if section == 'about' %}active{% endif %}">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item {% if section == 'groups' %}active{% endif %}">
            <a class="nav-link" href="#">Groups</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class="nav-item {% if section == 'users' %}active{% endif %}">
              <a class="nav-link" href="{% url 'user_list' %}">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Hi {{ request.user.username }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          {% else %}
            <li class="nav-item {% if section == 'register' %}active{% endif %}">
              <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
            </li>
            <li class="nav-item {% if section == 'login' %}active{% endif %}">
              <a class="nav-link" href="{% url 'login' %}">Sign In</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="container pb-5">
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success" role="alert">{{ message|safe }}</div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">
        {% block content %}
        {% endblock %}
      </div>

    {% if request.user.is_authenticated %}
      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        {% block search_widget %}
        {% endblock %}

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    {% if view.kwargs.username %}
                      <a href="{% url 'images:list' username=view.kwargs.username %}">Photos</a>
                    {% else %}
                      <a href="{% url 'images:list' username=request.user.username %}">Photos</a>
                    {% endif %}
                  </li>
                  <li>
                    {% if view.kwargs.username %}
                      <a href="{% url 'places:list' username=view.kwargs.username %}">Places</a>
                    {% else %}
                      <a href="{% url 'places:list' username=request.user.username %}">Places</a>
                    {% endif %}
                  </li>
                  <li>
                    {% if view.kwargs.username %}
                      <a href="{% url 'articles:list' username=view.kwargs.username %}">Articles</a>
                    {% else %}
                      <a href="{% url 'articles:list' username=request.user.username %}">Articles</a>
                    {% endif %}
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Tips</a>
                  </li>
                  <li>
                    <a href="#">Forum</a>
                  </li>
                  <li>
                    <a href="#">Plan your trip</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>
        </div>

      </div>
    {% endif %}

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5" style="background-color: #a5caf1;">
    <div class="container">
      <p class="m-0 text-center text-black">Copyright &copy; TravelBlog 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
  <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
    });
  </script>
  
</body>

</html>
