{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}

{% block head %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
  <div class="container pt-5">
    {% if user != request.user %}
    <a href="#" data-id="{{ user.id }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow">
      {% if request.user not in user.followers.all %}
        Follow
      {% else %}
        Unfollow
      {% endif %}
    </a>
    {% endif %}

    <div class="container pt-3">
      <p>Places visited by {{ user.username }}</p>
      {% leaflet_map "main" callback="main_map_init" %}
    </div>
  
    {% if articles %}
      {% include "articles/article/articles.html" with article_list=articles %}
    {% endif %}
    {% if places %}
      {% include "places/place/places.html" with place_list=places %}
    {% endif %}

  </div>

  <script type="text/javascript">
    function main_map_init (map, options) {
        var dataurl = '{% url "places:data" username=view.kwargs.username %}';
        // Download GeoJSON via Ajax
        $.getJSON(dataurl, function (data) {
            // Add GeoJSON layer
            L.geoJson(data).addTo(map);
  });
      }
  </script>

{% endblock %}

{% block domready %}
  $('a.follow').click(function(e){
      e.preventDefault();
      $.post('{% url "user_follow" %}',
      {
          id: $(this).data('id'),
          action: $(this).data('action')
      },
      function(data){
          if (data['status'] == 'ok') {
              var previous_action = $('a.follow').data('action');

              // toggle data-action
              $('a.follow').data('action', previous_action == 'follow' ? 'unfollow' : 'follow');
              
              // toggle link text
              $('a.follow').text(previous_action == 'follow' ? 'Unfollow' : 'Follow');
          }
      }
    );
  });
{% endblock %}

{% block search_widget %}
  <!-- Search Widget -->
  <div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <div class="input-group">
        <form method="get">
          {{ article_search_form|crispy }}
          <input type="submit" value="Search">
        </form>
      </div>
      <div class="input-group">
        <form method="get">
          {{ place_search_form|crispy }}
          <input type="submit" value="Search">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
