{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Users{% endblock %}

{% block content %}
  <div class="container pt-5">
    {% for user in user_list %}
      <a href="{{ user.get_absolute_url }}"><p>{{ user.username }}</p></a>
    {% endfor %}
  </div>
{% endblock %}

{% block search_widget %}
  <!-- Search Widget -->
  <div class="card my-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <div class="input-group">
        <form method="get">
          {{ user_search_form|crispy }}
          <input type="submit" value="Search">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
