{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Article{% endblock %}

{% block content %}
    {% if article.author == request.user %}
      <a href="{% url 'articles:dashboard' %}"><p>Back to your articles</p></a>
      <a href="{% url 'articles:update' pk=article.id slug=article.slug %}"><p>Edit article</p></a>
      <a href="{% url 'articles:delete' pk=article.id %}"><p>Delete article</p></a>
    {% endif %}
    <h2 class="mt-4">{{ article.title }}</h2>
    <p class="lead">
        by
        <a href="{{ article.author.get_absolute_url }}">{{ article.author.username }}</a>
    </p>
    <hr>
    <p>Posted on {{ article.updated }} </p>
    <hr>
    <p class="lead">{{ article.body }}</p>
    {% with places=article.article_places.all %}
      {% for place in places %}
        {% for image in place.place.images.all %}
          <div class="img-fluid rounded" class="container">
            <a href="{{ image.get_absolute_url }}"><img src="{% thumbnail image.image 500x0 %}"></a>
            <a href="{{ image.get_absolute_url }}"></a><p>{{ image.title }}</p></a>
          </div>
        {% endfor %}
        <hr>
        <blockquote class="blockquote">
            <p class="mb-0">{{ place.description }}</p>
        </blockquote>
      {% endfor %}
    {% endwith %}
    <hr>

    {% include "articles/article/comments.html" with comment_form=comment_form comments=article.comments.all %}

{% endblock %}
