{% extends "base.html" %}

{% load thumbnail %}

{% block title %}Place Detail{% endblock %}

{% block content %}
  <div class="container pt-5">
    <a href="#"><p>Places</p></a>
    <br>
    <p>{{ place.country }}</p>
    <p>{{ place.locality }}</p>
    <p>{{ place.name }}</p>
    <div class="container">
      {% for image in place.images.all %}
        <a href="{{ image.get_absolute_url }}"><img src="{% thumbnail image.image 500x0 %}"></a>
        <a href="{{ image.place.get_absolute_url }}"><p>{{ image.title }}</p></a>
      {% endfor %}
      <p>Related articles</p>
      {% for article_place in place.article_places.all %}
        <a href="{{ article_place.article.get_absolute_url }}"><p>{{ article_place.article.title }}</p></a>
      {% endfor %}
    </div>

    <a href="{% url 'images:add' place_id=place.id %}"><p>Add Photo</p></a>
    <br>
    <a href="{% url 'places:delete' pk=place.id %}"><p>Delete place</p></a>
  </div>
{% endblock %}
