{% extends "base.html" %}

{% block title %}Visited Places{% endblock %}

{% block content %}
  <div class="container pt-5">
    {% for place in places %}
      <div class="container">
        <p>{{ place.country }}</p>
        <p>{{ place.locality }}</p>
        <p>{{ place.name }}</p>
        {% for image in place.images.all %}
          <div class="container">
            <a href="{{ image.get_absolute_url }}"><img src="{{ image.image.url }}"></a>
            <a href="{{ image.place.get_absolute_url }}"><p>{{ image.title }}</p></a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
